/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 avr. 2015, 13:45:04
    Author     : oliveiras_info
*/
.btn, .form-control, alert{
    border-radius: 0px;
}

nav {
    height: auto;
}

.container {
    margin-top: 20px;

}

.navbar-brand{
    font-size: 22pt;
    font-weight: bold;
}

.navbar-form .input-group>.form-control {
    width: 300px;
}

@media only screen and (max-width: 767px) {
    .navbar-form .input-group>.form-control {
        width: 100%;
    }
}

.navbar-form .search-bar{
    margin-left: 8px;
    margin-right: 8px;
}

.navbar-default .btn-link {
    text-align: right;
}

.form{
    max-width: 550px;
    padding: 15px;
    margin: 0 auto;
}

.form-edit{
    max-width: 650px;
}



.form-group-btn{
    width: 100%;
    margin-top: 15px;
}
.form input, .form textarea{
   margin-bottom: 20px;
   max-width: 100%;
}
.form-addMovie textarea{
    width: 100%;    
}

.progress{
    width: 100%;    
}
