/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 avr. 2015, 13:45:04
    Author     : oliveiras_info
*/
.btn, .form-control{
    border-radius: 0px;
}

nav {
    height: auto;
}

.container {
    margin-top: 20px;
}

.navbar-brand{
    font-size: 22pt;
    font-weight: bold;
}

.navbar-form input[type="search"]{
    width: 300px;
}

.navbar-form form-group{
    max-width: 400px;
}

.form-signin {
    max-width: 550px;
    padding: 15px;
    margin: 0 auto;
}